{% include 'sitio/cabecera.html' %}


    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <img class="card-img-top" src="https://mobbyt.com/media/gallery/37ebba1c9288fbf9ed6ddaec74cb65c5/9ab5d9de_2020-12-04-mobbyt.png" alt="Title">
                <div class="card-body">
                    <h4 class="card-title">REGIONALES</h4>
                    <p class="card-text">
                        <a name="" id="" class="btn btn-primary" href="https://www.gilat.com/" role="button">Bienvenido</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img class="card-img-top" src="https://mobbyt.com/media/gallery/37ebba1c9288fbf9ed6ddaec74cb65c5/9ab5d9de_2020-12-04-mobbyt.png" alt="Title">
                <div class="card-body">
                    <h4 class="card-title">REGIONALES</h4>
                    <p class="card-text">
                        <a name="" id="" class="btn btn-primary" href="https://www.gilat.com/" role="button">Bienvenido</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img class="card-img-top" src="https://mobbyt.com/media/gallery/37ebba1c9288fbf9ed6ddaec74cb65c5/9ab5d9de_2020-12-04-mobbyt.png" alt="Title">
                <div class="card-body">
                    <h4 class="card-title">REGIONALES</h4>
                    <p class="card-text">
                        <a name="" id="" class="btn btn-primary" href="https://www.gilat.com/" role="button">Bienvenido</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img class="card-img-top" src="https://mobbyt.com/media/gallery/37ebba1c9288fbf9ed6ddaec74cb65c5/9ab5d9de_2020-12-04-mobbyt.png" alt="Title">
                <div class="card-body">
                    <h4 class="card-title">REGIONALES</h4>
                    <p class="card-text">
                        <a name="" id="" class="btn btn-primary" href="https://www.gilat.com/" role="button">Bienvenido</a>
                    </p>
                </div>
            </div>
        </div>
        
        
    </div>


{% include 'sitio/pie.html' %}